.importFileContainer {
  width: 100%;
  height: 100%;
  padding-top: 90vpx;

  .main {
    width: 100%;
    min-height: calc(100% - 90vpx);
    background-color: #fff;

    .title {
      font-family: PingFangSC, PingFang SC;
      font-weight: 400;
      font-size: 20vpx;
      color: #1E1E69;
      line-height: 28vpx;
      height: 90vpx;
      display: flex;
      align-items: center;
      margin-left: 170vpx;
      margin-right: 40vpx;
      border-bottom: 1px solid #E0E0E0;

      .arrowWrapper {
        display: flex;
        align-items: center;
        justify-content: center;

        .arrowLeft {
          width: 20vpx;
          height: 20vpx;
          margin-right: 0.5em;
        }
  
        > span {
          cursor: pointer;
        }

      }
    }

    .content {
      width: 100%;
      box-sizing: border-box;
      padding-left: 623vpx;
      padding-top: 124vpx;

      .uploadWrapper {
        display: flex;
        align-items: center;
        margin-bottom: 40vpx;

        .label {
          width: 100vpx;
          padding-right: 14vpx;
          display: flex;
          align-items: center;
          font-family: PingFangSC, PingFang SC;
          font-weight: 400;
          font-size: 24vpx;
          color: #333333;
        }

        .selectBtn {
          width: 410vpx;
          height: 50vpx;
          background-color: #000AFF;
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: PingFangSC, PingFang SC;
          font-weight: 400;
          font-size: 18vpx;
          color: #FFFFFF;
          cursor: pointer;
        }

        .sample {
          padding-left: 24vpx;
          font-family: PingFangSC, PingFang SC;
          font-weight: 400;
          font-size: 23vpx;
          color: #000AFF;
          text-decoration: underline;
          cursor: pointer;
        }

        .groupInput {
          width: 410vpx;
          height: 50vpx;
        }
      }

      .operateBox {
        margin-left: 100vpx;
        width: 410vpx;
        display: flex;
        justify-content: center;

        .importBtn,
        .cancelBtn {
          width: 160vpx;
          height: 40vpx;
          background: #000AFF;
          border-radius: 2vpx;
          border: 1px solid #000AFF;
          margin-right: 50vpx;

          font-family: PingFangSC, PingFang SC;
          font-weight: 400;
          font-size: 18vpx;
          color: #FFFFFF;

          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
        }

        .cancelBtn {
          background: #FFFFFF;
          color: #000AFF;
        }
      }
    }
  }
}