.custom-select {
  width: 200px;
  background-color: pink !important;
  border-radius: 20px !important;
}

.custom-dropdown {
  min-width: 300px;
  min-height: 250px;
  border-radius: 20px !important;
}
.input-container {
  width: 100%; /* 根据需要调整宽度 */
  border-color: #3498db; /* 设置边框颜色 */
  border-radius: 24px; /* 设置圆角效果 */
  padding-left: 300px; /* 增加左边距以增强视觉效果 */
  font-size: 24px; /* 设置字体大小 */
}
