.reportsContainer {
  width: 100%;
  height: 100%;
  padding-top: 90vpx;

  .main {
    width: 100%;
    min-height: calc(100% - 90vpx);
    background-color: #fff;
    padding-bottom: 80vpx;
    font-weight: 600;

    .title {
      height: 90vpx;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-left: 170vpx;
      margin-right: 40vpx;
      border-bottom: 1px solid #E0E0E0;
      box-sizing: border-box;

      .titleLeft {
        height: 100%;
        display: flex;
        align-items: center;

        font-family: PingFangSC, PingFang SC;
        font-weight: 400;
        font-size: 20vpx;
        color: #1E1E69;
        line-height: 28vpx;
      }

      .operateBox {
        height: 100%;
        display: flex;
        align-items: center;

        .searchInputBox {
          margin-right: 20vpx;
          width: 240vpx;
          height: 50vpx;
          box-sizing: border-box;
          padding-right: 45vpx;
          position: relative;
          border-radius: 25vpx;
          border: 1px solid #E0E0E0;
          overflow: hidden;

          :global {
            .ant-input {
              width: 100%;
              height: 100%;
              border: 0;
    
              &::placeholder {
              }

              &:focus,
              &:hover,
              &:focus-visible {
                border: 0;
                box-shadow: none;
              }
            }
    
          }

          .searchIconBox {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 40vpx;
            height: 40vpx;
            background: #000AFF;
            border-radius: 25vpx;
            border: 1px solid #0A14D2;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            .searchIcon {
              width: 21vpx;
              height: 21vpx;
            }
          }
        }

      }

    }

    .content {
      margin-left: 170vpx;
      margin-right: 40vpx;
      font-weight: 600;
      .deleteButton{
        background-color: #7241FF;
        width:80vpx;
        height:30vpx;
        color: #f0f0f0;
        font-size: 14vpx;
        font-weight: 600;
        // font-family: PingFangSC, PingFang SC;
        border-radius: 20vpx;
        margin-left: 20vpx;
      }
      .listTable {
        margin-top: 40vpx;

        .campaignBox {
          display: flex;
          align-items: center;
          justify-content: center;

          .campaignIcon {
            width: 60vpx;
            height: 60vpx;
          }

          .projectName {
            padding-left: 20vpx;
          }
        }
      }
    }
  }
}