.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('/img/background_reset.png');
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  width: 100%;
  height: 300px;
}

.logo {
  margin-bottom: 1rem;
  width: 100px;
  height: auto;
}

.message {
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  width: 80%;
}

.error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  font-weight: bold;
}

.error-icon {
  margin-right: 0.5rem;
  color: red;
}
